.version.deejay /* version checker */
{
	color: #0000F2;
	background-color: #89C6F6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 903px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 62px;
	padding-right: 57px;
	margin-left: auto;
	margin-right: auto;
}

#pamphletu79
{
	z-index: 6;
	width: 0.01px;
	height: 144px;
	top: 0px;
	right: 72px;
}

#u87popup
{
	z-index: 7;
}

#u87
{
	width: 786px;
	left: -786px;
}

#u88
{
	z-index: 8;
	width: 786px;
	height: 144px;
	margin-right: -10000px;
}

#buttonu89
{
	z-index: 23;
	width: 122px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 59.49999999999994px;
	margin-right: -10000px;
}

#buttonu89:hover
{
	width: 122px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u90
{
	z-index: 28;
	width: 17px;
	margin-left: 52px;
	top: -8px;
	margin-bottom: -16px;
}

#buttonu89:hover #u90
{
	width: 17px;
	min-height: 0px;
	margin: 0px 0px -16px 52px;
}

#buttonu89:active #u90
{
	width: 17px;
	min-height: 0px;
	margin: 0px 0px -16px 52px;
}

#u92-4
{
	z-index: 24;
	width: 122px;
	min-height: 24px;
	margin-top: 42px;
}

#buttonu89:hover #u92-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 42px 0px 0px;
}

#buttonu103
{
	z-index: 16;
	width: 122px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 59.49999999999994px;
	margin-right: -10000px;
	left: 186px;
}

#buttonu89.ButtonSelected,#buttonu103:hover
{
	width: 122px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u105
{
	z-index: 21;
	width: 17px;
	margin-left: 52px;
	top: -8px;
	margin-bottom: -16px;
}

#buttonu89.ButtonSelected #u90,#buttonu103:hover #u105
{
	width: 17px;
	min-height: 0px;
	margin: 0px 0px -16px 52px;
}

#buttonu103:active #u105
{
	width: 17px;
	min-height: 0px;
	margin: 0px 0px -16px 52px;
}

#buttonu103.ButtonSelected #u105
{
	width: 17px;
	min-height: 0px;
	margin: 0px 0px -16px 52px;
}

#u104-4
{
	z-index: 17;
	width: 122px;
	min-height: 24px;
	margin-top: 42px;
}

#buttonu89.ButtonSelected #u92-4,#buttonu103:hover #u104-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 42px 0px 0px;
}

#buttonu107
{
	z-index: 9;
	width: 122px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 59.49999999999994px;
	margin-right: -10000px;
	left: 372px;
}

#buttonu103.ButtonSelected,#buttonu107:hover
{
	width: 122px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu107.ButtonSelected
{
	width: 122px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u109
{
	z-index: 14;
	width: 17px;
	margin-left: 53px;
	top: -8px;
	margin-bottom: -16px;
}

#buttonu107:hover #u109
{
	width: 17px;
	min-height: 0px;
	margin: 0px 0px -16px 53px;
}

#buttonu107:active #u109
{
	width: 17px;
	min-height: 0px;
	margin: 0px 0px -16px 53px;
}

#buttonu107.ButtonSelected #u109
{
	width: 17px;
	min-height: 0px;
	margin: 0px 0px -16px 53px;
}

#u108-4
{
	z-index: 10;
	width: 122px;
	min-height: 24px;
	margin-top: 42px;
}

#buttonu103.ButtonSelected #u104-4,#buttonu107:hover #u108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 42px 0px 0px;
}

#buttonu107.ButtonSelected #u108-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 42px 0px 0px;
}

#u115
{
	z-index: 30;
	width: 229px;
	padding-bottom: 24px;
	margin-right: -10000px;
	left: 558px;
}

#u154
{
	z-index: 31;
	width: 196px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 17px;
}

#u116
{
	z-index: 33;
	width: 72px;
	padding-bottom: 144px;
	margin-right: -10000px;
}

#u117
{
	width: 72px;
	padding-bottom: 57px;
	top: 0px;
	right: 0px;
}

#u117.PamphletThumbSelected
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u118
{
	z-index: 35;
	width: 39px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 16px;
}

#u117.PamphletThumbSelected #u118
{
	width: 39px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#u118_img
{
	margin-right: -1px;
}

#u326
{
	z-index: 37;
	width: 487px;
	background-color: transparent;
	margin-left: 237px;
	position: relative;
}

#u328-4
{
	z-index: 39;
	width: 845px;
	min-height: 85px;
	background-color: transparent;
	text-align: center;
	font-size: 72px;
	line-height: 86px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	margin-left: 58px;
	position: relative;
}

#u153-4
{
	z-index: 2;
	width: 361px;
	min-height: 20px;
	margin-top: 88px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

