.version.index /* version checker */
{
	color: #000008;
	background-color: #020825;
}

.html
{
	background: #FFFFFF url("../images/imag0064.jpg") no-repeat left top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -36px;
	padding-top: 20px;
	width: 0.01px;
}

#u100
{
	z-index: 2;
	width: 564px;
	background-color: transparent;
	margin-left: 198px;
	position: relative;
}

#pu127-4
{
	width: 0.01px;
	margin-left: 308px;
	margin-top: 15px;
}

#u127-4
{
	z-index: 4;
	width: 151px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 50px;
	line-height: 60px;
	font-family: depot-new-web, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#u129
{
	z-index: 13;
	width: 3px;
	height: 100px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 171px;
}

#u128-4
{
	z-index: 9;
	width: 155px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 50px;
	line-height: 60px;
	font-family: depot-new-web, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 192px;
}

#u219
{
	z-index: 8;
	min-height: 56px;
	background-color: #000000;
}

#u219_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 6px;
	padding-bottom: 5px;
}

#u220-4
{
	z-index: 14;
	width: 508px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	left: 120px;
	position: relative;
}

#u221-4
{
	z-index: 18;
	width: 508px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	left: 120px;
	margin-top: 5px;
	position: relative;
}

#u219-bw
{
	z-index: 8;
	min-height: 56px;
	margin-top: 63px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

