.version.index /* version checker */
{
	color: #000004;
	background-color: #CF8C44;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 845px;
	min-height: 330px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 85px 57px 85px 58px;
}

#u208
{
	z-index: 2;
	width: 487px;
	background-color: transparent;
	margin-left: 179px;
	position: relative;
}

#u211-4
{
	z-index: 4;
	width: 845px;
	min-height: 85px;
	background-color: transparent;
	text-align: center;
	font-size: 72px;
	line-height: 86px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

